<div class = 'container' ng-controller = 'viewDashboardController'>
	<div ng-init='initialize()' >
		<div class = 'row'>
			<div class = 'col-lg-6 col-md-6'>
				<h1>Dashboard</h1>
			</div>
		</div>
		<div ng-hide='isAdmin'>
			<div class = 'row' >
				<form class = 'form form-inline clearfix'>
					<div class = 'col-lg-6 col-md-6 col-xs-12 col-sm-12 pull-right'>
						<div class = 'col-md-6 col-lg-6 col-sm-12 col-xs-12 form-group' ng-show='isManager'>
							<label  for = 'users'>Choose person to see</label>
							
							<select ng-model ='personSelected._id' name = 'user' ng-change='personChange()' class = 'form-control'>
								<option ng-repeat="person in people" value='{{person._id}}'>{{person.firstname + ' ' + person.lastname}}</option>
							</select>
							
						</div>
						<div class = 'col-md-6 col-lg-6 col-sm-12 col-xs-12 form-group pull-right' ng-hide='isAdmin'>
							<label  for = 'date'>Choose month - year</label>
							<select ng-model ='date.month' ng-change='dateChange()' class = 'form-control' ng-options='month as month for month in select.month'></select>	
							<select ng-model ='date.year' ng-change='dateChange()' class = 'form-control' ng-options = 'year as year for year in select.year'></select>	
						</div>
					</div>
				</form>
			
			</div>
		
			<div class = 'row'>
				<div class='col-lg-12 col-md-12 col-sm-12'>
					<h3>Manager Results</h3>
				</div>
				<div class="col-lg-4 col-md-4" style='{border: 1px solid #ccc}' ng-repeat='table in tables'>
					<center><h4>{{table.name}} Matrix</h4></center>
					<select ng-model = 'filterTable[$index]' ng-options = 'category._id as category.name for category in selectCategories[$index]' class = 'form-control' ng-change = 'filterCategory($index)'>
						<option value = ''>Select all categories</option>
					</select>
					<div><canvas id="{{table.name + 'ManagerChart'}}" height='300'></canvas></div>
					<div id = "{{table.name + 'ManagerLegend'}}" class='legend'></div>
				</div>
			</div>
			<div class = 'row'>
				<div class='col-lg-12 col-md-12 col-sm-12'>
					<h3>User Results</h3>
				</div>
				<div class="col-lg-4 col-md-4" ng-repeat='table in tables'>
					<center><h4>{{table.name}} Matrix</h4></center>
					<div><canvas id="{{table.name + 'UserChart'}}" height='300'></canvas></div>
					<div id = "{{table.name + 'UserLegend'}}" class='legend'></div>
				</div>
			</div>

			<div class='col-lg-offset-3 col-lg-6 col-md-offset-3' ng-hide='isAdmin'>
				<table class = 'table table-striped'>
					<thead>
						<th>Matrix</th>
						<th>Manager Totals</th>
						<th>User Totals</th>
					</thead>
					<tr ng-repeat='table in tables track by $index'>
						<td>{{table.name}} Matrix</td>
						<td>{{totals[$index][0]}}</td>
						<td>{{totals[$index][1]}}</td>
					</tr>
					
				</table>
			</div>

	</div>
	<div class = 'row' ng-show='isAdmin'>
		<div class='col-md-4'>[Categories Image]</div>
		<div class='col-md-4'>[Attributes Image]</div>
		<div class='col-md-4'>[Tables     Image]</div>
		<div class='col-md-4'>[Employees  Image]</div>
		<div class='col-md-4'>[Groups     Image]</div>
		<div class='col-md-4'>[Manager Designation Image]</div>
	</div>
</div>

