<div class = 'container' ng-controller = 'viewDashboardController'>
	<div ng-init='initialize()'>
		<div class = 'col-md-12'>
			<div class = 'col-md-6'>
				<h1>Dashboard</h1>
			</div>
			<form class = 'form form-inline'>
				<div class = 'col-md-6 test'>
					<div class = 'col-md-6 form-group' ng-show='isManager'>
						<label  for = 'users'>Choose person to see</label>
						
						<select ng-model ='personSelected._id' name = 'user' ng-change='personChange()' class = 'form-control'>
							<option ng-repeat="person in people" value='{{person._id}}'>{{person.firstname + ' ' + person.lastname}}</option>
						</select>
						
					</div>
					<div class = 'col-md-6 form-group ' ng-hide='isAdmin'>
						<label  for = 'date'>Choose month - year</label>
						<select ng-model ='date.month' ng-change='dateChange()' class = 'form-control' ng-options='month as month for month in select.month'></select>	
						<select ng-model ='date.year' ng-change='dateChange()' class = 'form-control' ng-options = 'year as year for year in select.year'></select>	
					</div>
				</div>
			</form>
		</div>
		
		
		<div class = 'col-md-12' ng-hide='isAdmin'>
			<h4>Manager Results</h4>
			<div class = 'col-md-12'>
				<div class="col-md-4" ng-repeat='table in tables'>
					<center><h4>{{table.name}} Matrix</h4></center>
					<select ng-model = 'filterTable[$index]' ng-options = 'category._id as category.name for category in selectCategories[$index]' class = 'form-control' ng-change = 'filterCategory($index)'>
						<option value = ''>Select all categories</option>
					</select>
					<canvas id="{{table.name + 'ManagerChart'}}" width='300' height='300'></canvas>
					<div id = "{{table.name + 'ManagerLegend'}}"></div>
				</div>
			</div>
			<h4>User Results</h4>
			<div class = 'col-md-12'>
				<div class="col-md-4" ng-repeat='table in tables'>
					<h4>{{table.name}} Matrix</h4>
					<canvas id="{{table.name + 'UserChart'}}"  width='300' height='300'></canvas>
					<div id = "{{table.name + 'UserLegend'}}"></div>
				</div>
			</div>
		</div>

			<div class='col-md-offset-3 col-md-6 col-md-offset-3' ng-hide='isAdmin'>
				<table class = 'table table-striped'>
					<thead>
						<th>Matrix</th>
						<th>Manager Totals</th>
						<th>User Totals</th>
					</thead>
					<tr ng-repeat='table in tables track by $index'>
						<td>{{table.name}} Matrix</td>
						<td>{{totals[$index][0]}}</td>
						<td>{{totals[$index][1]}}</td>
					</tr>
					
				</table>
			</div>

			<div class = 'col-md-12' style="margin-bottom: 100px;"> </div>
			

		</div>
	</div>
</div>