<div  ng-init = 'initialize()'>
	<div class = 'container' >
		<div class = 'row'>
			<form class='form form-inline'>
				<div class = 'col-md-2'>
					<label for = 'name'>Select Employee</label>
					<select class = 'form-control' name = 'name' id='nameSelector' ng-change='getPeopleCategories(params)' ng-model='params.employeeId'>
						<option ng-repeat="person in people" value='{{person._id}}'>{{person.firstname + ' ' + person.lastname}}</option>
					</select>
				</div>
				<div class = 'col-md-offset-1 col-md-6'>
						<h2 align = 'center'>{{table.name}} Matrix</h2>
				</div>
				<div class = 'col-md-3 pull-right row'>
					<label for = 'date'>Choose month - year</label>
					<select ng-model ='date.month' ng-change='getPeopleCategories(params)' class = 'form-control' ng-options='month as month for month in select.month'></select>	
					<select ng-model ='date.year' ng-change='getPeopleCategories(params)' class = 'form-control' ng-options = 'year as year for year in select.year'></select>	
				</div>
			</form>
		</div>
		<div class = 'row'>
			<table class = 'table table-striped table-condensed table-hover table-bordered table-responsive'>
				<thead>
					<th>Categories</th>
					<th ng-repeat='aspect in aspects'>{{aspect.name}}</th>
					<th>Total</th>
				</thead>
				<tr ng-repeat='category in categories track by category.cindex'>
					<td>{{category.name}}</td>
					<td ng-repeat='aspect in aspects track by aspect.aindex'><select class='form-control' ng-change = 'resultChanged(category.cindex)'ng-options = 'number as number for number in numbers' ng-model = 'peopleCategories[category.cindex][aspect.aindex].Results'>{{peopleCategories[category.cindex][aspect.aindex].Results}}</select></td>
					<td>{{peopleCategories[category.cindex].total}}</td>
				</tr>
			</table>
		</div>
		<div class = 'row'>
			<div class='col-md-6 pull-right'>
			<div class = 'col-md-4 pull-right' ng-show='ShowButton'>
				<button name='Add' class = 'btn btn-success' ng-click='createPeopleCategories()'>Add New Information </button>
			</div>
			<div class = 'col-md-4 pull-right' ng-hide='ShowButton'>
				<button name='update' class = 'btn btn-primary' ng-click='updatePeopleCategories()'>Update Information </button>
			</div>
			<div class = 'col-md-2 pull-right'>
				<button name='update' class = 'btn btn-danger' ui-sref = "app.matrix({id: '{{table._id}}' })" ui-sref-opts="{reload: true}" ui-sref-opts="{reload: true}">Cancel </button>
			</div>
			</div>
		</div>
	</div>
</div>