<div  ng-init = 'initialize()'>
	<div class = 'container' >
		<form class='form form-inline'>
			<div class = 'col-md-2'>
				<label for = 'name'>Select Employee</label>
				<select class = 'form-control' name = 'name' id='nameSelector' ng-change='getPeopleCategories(params)' ng-model='params.employeeId'>
					<option ng-repeat="person in people" value='{{person._id}}'>{{person.firstname + ' ' + person.lastname}}</option>
				</select>
			</div>
			<div class = 'col-md-offset-1 col-md-6'>
					<h2 align = 'center'>{{table.name}} Matrix</h2>
			</div>
			<div class = 'col-md-3'>
				<label for = 'date'>Choose month - year</label>
				<select ng-model ='date.month' ng-change='getPeopleCategories(params)' class = 'form-control' ng-options='month as month for month in select.month'></select>	
				<select ng-model ='date.year' ng-change='getPeopleCategories(params)' class = 'form-control' ng-options = 'year as year for year in select.year'></select>	
			</div>
		</form>
		<table class = 'table table-striped'>
			<thead>
				<th>Categories</th>
				<th ng-repeat='aspect in aspects'>{{aspect.name}}</th>
			</thead>
			<tr ng-repeat='category in categories track by category.cindex'>
				<td>{{category.name}}</td>
				<td ng-repeat='aspect in aspects track by aspect.aindex'><select class='form-control' ng-options = 'number as number for number in numbers' ng-model = 'results[category.cindex][aspect.aindex]'>{{results[category.cindex][aspect.aindex]}}</select></td>
			</tr>
		</table>
		<div class = 'col-md-3'ng-show='ShowButton'>
			<button name='Add' class = 'btn btn-success' ng-click='addToMongo()'>Add New Information </button>
		</div>
		<div class = 'col-md-3' ng-hide='ShowButton'>
			<button name='update' class = 'btn btn-info' ng-click='updateToMongo()'>Update Information </button>
		</div>
	</div>
</div>