<div ng-init = 'initialize()'>
<form name = 'tableForm2' novalidate>
	<formly-form model='model' fields = 'fields' options='options' form = 'tableForm2'>
		<button type="submit" class="btn btn-primary submit-button" ng-disabled="form.$invalid" ng-click = 'saveEmployee()'>Save employee</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </formly-form>
</form>
</div>

<!-- <form name= 'employeeForm' ng-controller = 'createEmployeeController' class = 'form form-horizontal' ng-init='initialize()' novalidate>
	
	<h2>Add new employee</h2>
	
	<div class = 'col-md-12'>
		<div class = 'form-group' ng-class ="{ 'has-error' : employeeForm.firstname.$invalid && !employeeForm.firstname.$pristine }">
			<div class='col-md-2'>
				<label  for = 'firstname' >First name:</label>
			</div>
			<div class='col-md-6'>
				<input class = 'form-control' type='text' name='firstname' id = 'firstname' placeholder = 'for example: John' ng-model = 'employee.firstname' ng-minlength="3" required></input>
			</div>
			<div class='col-md-12'>
				<p ng-show='employeeForm.firstname.$invalid && !employeeForm.firstname.$pristine' class='help-block'>Your name is required</p>
			    <p ng-show="employeeForm.firstname.$error.minlength" class="help-block">your name is too short.</p>
			</div>
		</div>
	</div>

	<div class = 'col-md-12'>
			<div class = 'form-group' ng-class ="{ 'has-error' : employeeForm.lastname.$invalid && !employeeForm.lastname.$pristine }">
				<div class='col-md-2'>
					<label  for = 'lastname'>Last name: </label>
				</div>
			<div class='col-md-6'>
				<input class = 'form-control' type='text' name='lastname' placeholder = 'for example: Doe' ng-model = 'employee.lastname' ng-minlength="3" required></input>
			</div>
			<div class='col-md-12'>
				<p ng-show='employeeForm.lastname.$invalid && !employeeForm.lastname.$pristine' class='help-block'>Your last name is required</p>
				<p ng-show="employeeForm.lastname.$error.minlength" class="help-block">your last name is too short.</p>
			</div>	
		</div>	
	</div>	

	<div class='col-md-12'>
		<div class = 'form-group' ng-class ="{ 'has-error' : employeeForm.email.$invalid && !employeeForm.email.$pristine }">
			<div class='col-md-2'>
				<label for = 'email'>E-Mail:</label>
			</div>
			<div class='col-md-6'>
				<input class = 'form-control' type='email' name ='email' placeholder = 'john.doe@email.com' ng-model = 'employee.email' required> </input>
			</div>
			<div class='col-md-12'>
				<p ng-show='employeeForm.email.$invalid && !employeeForm.email.$pristine' class='help-block'>Enter a valid e-mail</p>
			</div>	
		</div>
	</div>
	
	<div class = 'col-md-12'>
		<div class = 'form-group' ng-class ="{ 'has-error' : employeeForm.password.$invalid && !employeeForm.password.$pristine }">
		
			<div class='col-md-2'>
				<label for = 'password'>Password:</label>
			</div>
			<div class='col-md-6'>
				<input class = 'form-control' type='password' name='password' ng-model = 'employee.password' ng-minlength="8" required></input>
			</div>
			<div class='col-md-12'>
				<p ng-show='employeeForm.password.$invalid && !employeeForm.password.$pristine' class='help-block'>Please enter a password</p>
				<p ng-show="employeeForm.password.$error.minlength" class="help-block">your password is too short.</p>
			</div>
		</div>
	</div>
	
	<div class = 'col-md-12'>
		<div class = 'form-group'>
			<div class='col-md-2'>
				<label for = 'accesslevel'>Access level:</label>
			</div>
			<div class='col-md-6'>
				<select class = 'form-control' name = 'accesslevel' ng-model = 'employee.accesslevel' ng-options='access.id as access.name for access in accesslevels' required></select>
			</div>
			
		</div>
	</div>
	
	<div class = 'col-md-12'>
			<div class = 'form-group'>
				<div class='col-md-2'>
					<label for ='active'>Active</label>
				</div>
				<div class='col-md-6'>
					<input type='checkbox' class = 'checkbox' ng-model= 'employee.active' >
				</div>
			</div>
	</div>
	
	<div class = 'col-md-offset-7'>
		<div class = 'form-group'>
			<button class = 'btn btn-danger' ng-click='cancel()'>Cancel</button>
			<button class = 'btn btn-primary' ng-disabled = 'employeeForm.$invalid' ng-click = 'saveEmployee()'>Add employee</button>
		</div>
	</div>
</form>
 -->