$elementsMargin: 30px;

.navbar-default{
	padding-top: 6px;
	padding-bottom: 6px;
}

.navbar-nav{
	margin-top: $elementsMargin*2;
}


.navbar-toggle{
	margin-top: $elementsMargin*2;	
}

.container{
	margin-top: $elementsMargin;
}


@media (min-width: 1825px) {
	.navbar-default{
		padding-left: 360px;
		padding-right: 380px;
	}
	
}

table{
	&.table{
		margin-top: $elementsMargin;
	} 

}

.wrapper{
	position: relative;
	margin-bottom: 100px;
	min-height: 613px;
}

.vertical-center{
	margin-top: 75px;
}

.appTitle{
	margin-bottom: $elementsMargin;
	margin-left: -100px;
	text-align: center;
}

.img-center{
	margin-bottom: $elementsMargin;
	margin-left: 20px;
	text-align: center;
}

.btn-large{
	margin-top: $elementsMargin/2;
	margin-bottom: $elementsMargin/2;
	padding: 50px 50px;
	width: 300px;
}

.full-page{
	
	position: relative;
	height: 850px;
}

@media (max-width: 768px){
	h1{
		margin-bottom: 10px;
	};
	.btn-large{
		width: 100%;
		margin: 0px 0px;
	}
}

footer{
	background-color: #2c3e50;
	color: #ffffff;
	bottom: 0px;
	width: 100%;
	margin-bottom: 0px;
	.row{
		text-align: center;
		padding-top: 30px ;
		padding-bottom: 30px;
		margin-bottom: 0px;
	}
}

.centered{
	text-align: center;
}

form{
	margin-top: 10px;
}
.wrapper{
	position: relative;
	margin-bottom: 100px;
	min-height: 613px;
}
.pagination{
	li{
		a{
			background-color: #2c3e50;
		}
		a:hover{
			background-color: #2c3e50;
		}
		a:focus{
			background-color: #56799c;
		}

		
	}
	.active{
		a{
			background-color: #415b76;
		}
		a:hover{
			background-color: #415b76;
		}
		a:focus{
			background-color: #56799c;
		}
	}
	.disabled{
		a{
			background-color: #56799c;
		}
		a:hover{
			background-color: #415b76;
		}
		a:focus{
			background-color: #56799c;
		}
	}
	
}

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.chart-legend li span{
    
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.line-legend {

	li{
		display: block;
		span{
			display: inline-block;
		    width: 12px;
		    height: 12px;
		    margin-right: 5px;		
		}
	}
}

div canvas {
    margin-left: -15%;
    padding: auto;

	height: 300px;
	width: 300px;
}

md-toast{
    margin-top: 5%;

	.md-success-toast-theme {
    	background-color: #568203;    	
	}
	.md-error-toast-theme {
	    background-color: #C40233;
    }
}



fieldset{
    padding-top: 2em;
    background: #cacaca;
    width: 80%;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 10px;
}

.centered{   
    display: inline-block;
    width: auto;
    height: 100%;
    margin: auto;
    text-align: center;
}