.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.line-legend li{
	display: block;
}
.line-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

div canvas {
    margin-left: -15%;
    padding: auto;

	height: 300px;
	width: 300px;
}

md-toast.md-success-toast-theme {
    margin-top: 5%;
    background-color: #568203;
    
}

md-toast.md-error-toast-theme {
    margin-top: 5%;
    background-color: #C40233;
    
}

.test div {
    float: right;
}


.centered{   
    display: inline-block;
    width: auto;
    height: 100%;
    margin: auto;
    text-align: center;
}
