.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.line-legend li{
	display: block;
}
.line-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

div canvas {
	height: 370px;
	width: 370px;
}