.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

body {
  height: auto;
}
.clearfix:after {
  clear: both;
}

.chart-legend li span{
    
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.line-legend li{
	display: block;
}
.line-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

div canvas {
    margin-left: -15%;
    padding: auto;

	height: 300px;
	width: 300px;
}

md-toast.md-success-toast-theme {
    margin-top: 5%;
    background-color: #568203;
    
}

md-toast.md-error-toast-theme 
{    margin-top: 5%;
    background-color: #C40233;
    
}

.test div {
    float: right;
}


#chart{
  
  height: 50%;
}

fieldset{
    padding-top: 2em;
    background: #cacaca;
    width: 80%;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 10px;
}

.centered{   
    display: inline-block;
    width: auto;
    height: 100%;
    margin: auto;
    text-align: center;
}

/*@media (max-width: 1024px){
    table.responsive-table{
      box-shadow: none;  
    }
    table.responsive-table thead{
      display: none; 
    }
  table.display th,
  table.display td{
    padding: .5em;
  }
    
  table.responsive-table td:nth-child(1):before{
    content: 'Category';
  }
  table.responsive-table td:nth-child(2):before{
    content: 'JS Frameworks (Angular/Backbone)';
  }
  table.responsive-table td:nth-child(3):before{
    content: 'Databases (Mongo / SQL Server)';
  }
  table.responsive-table td:nth-child(4):before{
    content: 'Core javascript / jquery';
  }
  table.responsive-table td:nth-child(5):before{
    content: 'HTML5.0 / CSS3.0';
  }
  table.responsive-table td:nth-child(6):before{
    content: 'Total';
  }
  table.responsive-table td:nth-child(1),
  table.responsive-table td:nth-child(2),
  table.responsive-table td:nth-child(3),
  table.responsive-table td:nth-child(4),
  table.responsive-table td:nth-child(5),
  table.responsive-table td:nth-child(6){
    padding-left: 50%;
  }
  table.responsive-table td:nth-child(1):before,
  table.responsive-table td:nth-child(2):before,
  table.responsive-table td:nth-child(3):before,
  table.responsive-table td:nth-child(4):before,
  table.responsive-table td:nth-child(5):before,
  table.responsive-table td:nth-child(6):before{
    position: absolute;
    left: .5em;
    font-weight: bold;
  }
  
    table.responsive-table tr,
    table.responsive-table td{
        display: block;
    }
    table.responsive-table tr{
        position: relative;
        margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }
    table.responsive-table td{
        border-top: none;
    }
    table.responsive-table td.organisationnumber{
        background: #D5E0CC;
        border-top: 1px solid #B3BFAA;
    }
    table.responsive-table td.actions{
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background: none;
    }
}*/