<div ng-controller="viewEmployeeController" ng-init="initialize()">
	
	<div class = 'container'>
		<div ui-view></div>

		
		<div class = 'row'>
			<div class = 'col-md-offset-10 col-md-2'>
				<a ui-sref = 'app.employee.create' class='btn btn-primary' ng-hide = 'showCreateForm' ng-click='showCreate()'>Add New Employee</a>	
			</div>
		</div>
	
		<div class = 'col-md-12'>
		<table class='table table-striped'>
			<thead>
				<th>First Name</th>
				<th>Last Name</th>
				<th>E-Mail</th>
				<th>Access Level</th>
				<th>Active</th>
			</thead>
				<tr  ng-click = "updateEmployee(employee)" dir-paginate='employee in employees | itemsPerPage: 10'>
					<td>{{employee.firstname}}</td>
					<td>{{employee.lastname}}</td>
					<td>{{employee.email}}</td>
					<td>{{employee.accesslevelname}}</td>
					<td>{{employee.active}}</td>
				</tr>
		</table>
	
	</div>
	<dir-pagination-controls></dir-pagination-controls>
		
	</div>


</div>
